<div class="dialog-form-container">
  <h1 class="page-title">
    {{ isEdit ? "Edit Product" : "Create Product" }}
  </h1>
  <form class="input-grid" [formGroup]="productForm">
    <label class="required">Name</label>
    <div class="input-primary" [class.invalid]="productForm.controls.name.touched && productForm.controls.name.invalid">
      <input type="text" placeholder="Name" formControlName="name">
      @if (this.productForm.controls.name.errors?.['required']) {
      <p class="error-text">
        This field is required.
      </p>
      }
    </div>
    <label class="required">Category</label>
    <div class="input-primary"
      [class.invalid]="productForm.controls.category.touched && productForm.controls.category.invalid">
      <input type="text" placeholder="Category" formControlName="category">
      @if (this.productForm.controls.category.errors?.['required']) {
      <p class="error-text">
        This field is required.
      </p>
      }
    </div>
    <label>Type</label>
    <div class="input-primary" [class.invalid]="productForm.controls.type.touched && productForm.controls.type.invalid">
      <input type="text" placeholder="Type" formControlName="type">
    </div>
    <label class="required">Price</label>
    <div class="input-primary"
      [class.invalid]="productForm.controls.price.touched && productForm.controls.price.invalid">
      <input type="number" placeholder="Price" formControlName="price">
      @if (this.productForm.controls.price.errors?.['required']) {
      <p class="error-text">
        This field is required.
      </p>
      }
    </div>
  </form>
  <div class="dialog-buttons-group">
    <button type="submit" class="button-cancel" (click)="dialogRef.close()">
      Cancel
    </button>
    <button type="submit" class="button-cyan" (click)="onSave()" [disabled]="productForm.invalid">
      {{ isEdit ? "Update" : "Create" }}
    </button>
  </div>
</div>