@mixin TableActionIconButton($color, $bg) {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background: $bg;
  color: $color;
  font-size: 14px;
  text-align: center;

  &:hover {
    background-color: $color;
    color: #fff;
  }
}

.bordered-table-wrapper {
  border: 1px solid #DAE2F9;
  border-radius: 15px;
  overflow-x: auto;

  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 10px 0px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    background-color: transparent;
    margin: 40px 0px;
    height: 10px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #d6dee1;
    cursor: pointer;
    border: 6px solid transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  &.no-footer-table {
    .mat-mdc-table {
      .mdc-data-table__row:last-child .mdc-data-table__cell {
        border-bottom: none;
      }

      tbody,
      tbody tr {
        &:last-child {
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;

          td {
            &:first-child {
              border-bottom-left-radius: 15px;
            }

            &:last-child {
              border-bottom-right-radius: 15px;
            }
          }
        }
      }
    }
  }

  &.footer-no-color {
    .mat-mdc-table {
      .mat-mdc-footer-row {
        background-color: transparent;
      }
    }
  }

  .mat-mdc-table {
    box-shadow: none;

    .mat-mdc-no-data-row {
      height: 52px;

      td {
        border-bottom: 0;
      }
    }

    td.mat-mdc-cell {
      font-size: 12px;
    }

    th.mat-mdc-header-cell {
      font-size: 14px;
      font-weight: bold;
    }

    th.mat-mdc-header-cell,
    td.mat-mdc-footer-cell {
      background-color: initial;
    }

    tr {

      td,
      th {
        font-family: "Poppins", sans-serif;
        vertical-align: middle;
        border-bottom: 1px solid #DAE2F9;
        text-align: center;
      }
    }

    .mat-mdc-header-row,
    .mat-mdc-footer-row {
      background-color: rgba(218, 226, 249, 0.3);
    }

    .mdc-data-table__row:last-child .mdc-data-table__cell {
      border-bottom: 1px solid #DAE2F9;
    }

    .mat-mdc-footer-cell {
      border: none !important;
      text-align: left;
    }
  }

  &:not(.no-hover-table) {
    .mat-mdc-table {

      .mat-mdc-row:hover,
      .mat-mdc-footer-row:hover {
        background-color: rgba(218, 226, 249, 0.3) !important;

        .action-blue {
          background-color: #fff;

          &:hover {
            background-color: #5277F7;
          }
        }
      }
    }
  }

  &.no-footer {
    .mat-mdc-table {
      .mdc-data-table__row:last-child .mdc-data-table__cell {
        border-bottom: none;
      }
    }
  }

  .table-paginator {
    color: rgba(0, 0, 0, .87) !important;

    .custom-paginator-container {
      justify-content: flex-end;
    }
  }

  .action-icon {
    &-green {
      @include TableActionIconButton(var(--green-500), var(--green-100));
    }

    &-red {
      @include TableActionIconButton(var(--red-500), var(--red-100));
    }

    &-blue {
      @include TableActionIconButton(var(--c-primary), var(--blue-100));
    }
  }

  .table-actions {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    [class^="action-"] {
      border: none;
      border-radius: 20px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
    }

    .action {
      &-blue {
        color: #5277F7;
        background-color: #EBEEFA;

        &:hover {
          color: #EBEEFA;
          background-color: #5277F7;
        }
      }

      &-red {
        color: #FF000D;
        background-color: #FEDFE1;

        &:hover {
          color: #FEDFE1;
          background-color: #FF000D;
        }
      }

      &-teal {
        color: #298097;
        background-color: #E0F5FB;

        &:hover {
          color: #E0F5FB;
          background-color: #298097;
        }
      }
    }
  }

  .table-add-row {
    background-color: #fff !important;
    color: #0085FF;
    text-align: center !important;
    cursor: pointer;
  }

  .table-remove-row {
    padding: 0;
    border: 0;
    background: none;
    color: #EE0303;
    font-size: 24px;
  }

  .table-move-row {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: var(--blue-100);
    color: var(--c-primary);
    font-size: 24px;

    &:hover {
      background-color: #fff;
    }

    &:disabled {
      background-color: var(--grey-5);
      color: #fff;
      cursor: no-drop;
    }
  }
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 12px;
  row-gap: 16px;

  &.padding-bottom-16 {
    padding-bottom: 16px;
  }

  label {
    margin-top: calc(30px / 2 - 6px);
    font-size: 12px;
    line-height: 18px;
    color: #000000;

    &.required::after {
      content: "*";
      color: var(--red-1);
    }
  }

  hr {
    margin: 0;
    background-color: #ECF2FF;
    height: 1px;
    border: 0;
    opacity: 1;
  }
}